<!DOCTYPE html>
<html lang="en-CA">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello Vue</title>
  <style>
    .bg-red { background-color: rgb(211, 74, 74); color: white; }
  </style>
</head>
<body>
  <!-- The #root element is the one that we will tell Vue to be active in -->
  <div id="root"> 
    <ul>
      <!-- We use the v-for directive to iterate through our array of names
           and pull each one out into our temporary variable 'name' (one at a time)
           We can then use that variable to populate a <li>. The end result
           is that we get a <li> element for each item in our array. -->
      <li v-for="name in names">{{ name }}</li>
    </ul>
    <!-- We use the v-model directive to enable two-way binding between an input
         element and a Vue Model property (stored in the data object). In this case 
         the 'newName' property on our Vue Model. 
    -->
    <!-- Two-way binding means that if the value of the input is changed, then the
         newName variable will be automatically updated to match. And, it works the
         other way as well. If we programatically update the newName variable, then 
         the value of our input element will be automatically updated to match. 
    -->
    <input type="text" v-model="newName" @keyUp.enter="addName"> 
    <!-- We can also dynamically assign attribute values with the v-bind: directive
         or attache event listeners with the v-on: directive. Remember the shorthand
         for v-on: is @ like in the @click-"addName" directive below that tells Vue
         to run the addName method when the button's click event is fired. 
    -->
    <button 
      @click="addName" 
      :class="{ 'bg-red' :  isLoading }"
      :title="buttonTitle"
      v-bind:disabled="isDisabled"
      >AddName</button>
  </div>

  <script src="https://unpkg.com/vue"></script>

  <script>
    new Vue({
      // the element in our HTML markup within which Vue is active
      el: '#root', 
      // the data model for our Vue object
      data: {
        names: ['Robert', 'Stella', 'Eva', 'Alex'], // array linked to our list items
        newName: '', // variable linked to our input element
        isLoading: false, // linked to conditional class binding on button
        buttonTitle: 'Title set from a variable' // bound to the title attribute of the button
      },
      // functions that we can call in response to events or user input
      methods: {
        addName () {
          this.isLoading = true // we would typically trigger this before a potentially
                                // slow operation like an AJAX call to an API server.
          // e.g. fetch(/my-api/endpoint).then(resolve data)
          this.names.push(this.newName) // add the contents of the newName variable to the array of names
          this.newName = '' // clear the newName variable (and the input element)
          this.isLoading = false  // and then we would reset it when we were done.
                                  // if there is no delay in the operation, the user
                                  // will never see the associated visual que e.g. a spinner
        }
      },
      // Computed properties are like special methods that tell Vue to automatically 
      // attach "watchers" to the dependancy variables. In the example below, Vue will
      // watch for any changes in the newName property and then automatically re-evaluate
      // the result of the isDisabled method. To improve DOM rednering efficiency, 
      // Vue caches the previous values. So, if the result is unchanged, Vue know that it
      // does not need to re-render the DOM.  However, if the result is different, Vue
      // will automatically figure out where the isDisabled value is used in our components
      // re-render the appropriate parts of the screen.
      computed: {
        isDisabled () {
          return this.newName == '' // evaluate this javascript expression and return result
        }
      }
    })

    // This is the plain old javascript way to tell the browser to listen for the click
    // event on the button and then get the value from the input element
    // and add it to our names array.  The Vue way is soooo much simpler.
    //
    // document.querySelector('#submit').addEventListener('click', () => {
    //   let name = document.querySelector('#newName')
    //   app.names.push(name.value)
    //   name.value = ''
    // })
  </script>
</body>
</html>