<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MTM6430 - Week 3</title>
  <!-- Lets pull in the latest and greatest set of FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.4/css/all.css">
</head>
<body>
  <div id="app">
    <h1 class="title">Vue Todos</h1>
    <input type="text" v-model.trim="newTask.title" @keyUp.enter="addTask">
    <select v-model="newTask.priority">
      <option value="high">high</option>
      <option value="medium">medium</option>
      <option value="low">low</option>
    </select>
    <button @click="addTask">Add Task</button>
    <h2>Active Tasks</h2>
    <ul>
      <li v-for="task in incompleteTaskList" :key="task.id">
        <span class="far" 
              :class="{
                'fa-circle': ! task.isComplete,
                'fa-check-circle': task.isComplete
              }" 
              @click="toggleDone(task)"></span>
        <span>{{ task.title }}</span>
        <span>{{ task.priority }}</span>
        <span class="far fa-trash-alt" @click="removeTask(task)"></span>
      </li>
    </ul>
    <template v-if="completedTaskList.length > 0">
    <h2>Completed Tasks</h2>
    <ul>
      <li v-for="task in completedTaskList" :key="task.id">
        <span class="far" 
              :class="{
                'fa-circle': ! task.isComplete,
                'fa-check-circle': task.isComplete
              }" 
              @click="toggleDone(task)"></span>
        <span>{{ task.title }}</span>
        <span>{{ task.priority }}</span>
        <span class="far fa-trash-alt" @click="removeTask(task)"></span>
      </li>
    </ul>
    </template>
    <p v-else>There are no completed tasks ... get to work!</p>
  </div>

  <!-- Lets pull in the latest Vue library with the developer environment -->
  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>

  <!-- And, now lets create our main Vue object -->
  <script>
    new Vue({
      el: '#app', 
      data: {
        newTask: {},
        taskList: [
          { id: 1234, title: 'Learn Vue', isComplete: true, priority: 'medium' },
          { id: 1235, title: 'Learn Vue Router', isComplete: false, priority: 'medium' },
          { id: 1236, title: 'Learn Vuex', isComplete: false, priority: 'medium' },
          { id: 1237, title: 'Learn Vue DevTools', isComplete: true, priority: 'medium' },
        ]
      },
      computed: {
        completedTaskList () {
          // This loops over our array of tasks and gives back a
          // new array with just the complete items
          return this.taskList.filter(function (task) {
            return task.isComplete
          })
        },
        incompleteTaskList () {
          // This loops over our array of tasks and gives back a
          // new array with just the incomplete items
          return this.taskList.filter(task => !task.isComplete)
        }
      },
      created () {
        this.newTask = this.getNewTask()
      },
      methods: {
        getNewTask () {
          return {
            id: null,
            title: '',
            isComplete: false,
            priority: 'medium'
          }
        },
        addTask () {
          this.taskList.push(this.newTask)
          this.newTask = this.getNewTask()
        },
        toggleDone (task) {
          task.isComplete = !task.isComplete
        },
        removeTask (task) {
          const taskIndex = this.taskList.indexOf(task)
          this.taskList.splice(taskIndex, 1)
        }
      }
    })
  </script>
</body>
</html>